<div class="page-title">
	<h1>Metadata Permissions <button class="btn add-app-pem pull-right">Add</button>
	</h1>
	<ul class="nav nav-list">
	  {{#permissions}}
		<li><a class="view-app" data-id="{{id}}" href="#meta/data/{{../metaId}}/pems/edit/{{username}}">{{username}} ({{#if permission.read}}read{{/if}} {{#if permission.write}}write{{/if}} {{#if permission.execute}}execute{{/if}}) </a></li>
	  {{/permissions}}
	</ul>
</div>
