<dl class="dl-horizontal">
    <dt>Username</dt>
    <dd>{{username}}</dd>
    
    <dt>Client Secret</dt>
    <dd>{{client_secret}}</dd>
    
    <dt>Client Key</dt>
    <dd>{{client_key}}</dd>

    <dt>Access Token</dt>
    <dd>{{access_token}}</dd>

	<dt>Refresh Token</dt>
    <dd>{{refresh_token}}</dd>

    <dt>Created</dt>
    <dd>{{created_date}}</dd>

    <dt>Expires In</dt>
    <dd class="expires">{{expires_in}}</dd>

    <dt>Token Type</dt>
    <dd>{{token_type}}</dd>

    <dt>Actions</dt>
    <dd>
        <a class="btn btn-info btn-renew">Refresh</a>
        <a class="btn btn-info btn-validate">Validate</a>
        {{#canDelete}}
            <a class="btn btn-danger btn-delete">Delete</a>
        {{/canDelete}}
        <p><small>Refreshing a token extends the token expiry {{expires_in}} seconds from the time it was renewed.</small></p>
    </dd>
</dl>