@import "settings";

.token {
    padding: .5em;
    margin-bottom: 1em;
}

.token-current {
    background-color: lighten($lightGrey, 15%);
    border: 1px solid $lightGrey;
    &::after {
        content: "Login token; cannot delete";
        font-style: italic;
        font-size: .8em;
        color: $grey;
        float: right;
        margin-top: -1.5em;
    }
}

.io-listing {
  padding: .25em 0;
  border-bottom: 1px solid #eee;

  &::after, &::before {
    content: "";
    display: table;
    line-height: 0;
  }

  &::after {
    clear: both;
  }
}

.actions {
  margin-top: -5px;
}

.io-name {
  line-height: 2.5em;
}

.io-last-modified {
  line-height: 3.2em;
  margin-left: 1em;
  color: $grey;
  font-size: .8em;
}

.icon-dir-previous::before {
  content: "\f07c";
}

// .icon-share::before {
//   content: "\f1E0";
// }

.icon-dir::before {
  content: "\f07b";
}

.icon-rename::before {
  content: "\f031";
}

.icon-create-dir::before {
  content: "\f07b";
}

.icon-delete::before {
  content: "\f00d";
}

.icon-resubmit::before {
  content:"\f01e";
}

.icon-annotate::before {
  content:"\f0c6";
}

.icon-notifications::before {
  content:"\F0A2";
}

.icon-browse::before {
  content:"\F016";
}

.icon-bitbucket:before {
  font-family: FontAwesome;
  content:"\F171";
}

button.social {
  vertical-align: top;
  padding: 2px 5px 2px 4px;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 3px;
  font: 700 11px/14px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.io-chooser {
  overflow-y: scroll;
  border: 1px solid #ddd;
  max-height: 262px;
}

.io-chooser-item {
  padding: 3px;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }

  &.active {
    background-color: $green;
    color: $white;
  }
}

.io-chooser-actions {
  margin-top: 1em;
}

.search {
  .results {
    .search-result {
      padding: .5em;
      border-color: $lightGrey;
      border-style: solid;
      border-width: 1px 0 0;
      margin-bottom: 1px;
      &:nth-child(2n+1) {
        background-color: lighten($lightGrey, 16%);
      }
    }
  }
}

.nav-list li a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.capitalize {text-transform:capitalize;}
