<div class="control-label">
  <label for="{{id}}">{{label}}</label>
</div>
<div class="controls">
  <input type="text" name="{{name}}" id="{{id}}" placeholder="{{prompt}}" value="{{defaultValue}}">
</div>