<b><a href="{{_link.self.href}}">{{postit}}</a></b>
<div>
  {{method}} {{url}}
</div>
<div>
  expires {{expires}}
</div>
<div class="postit-data">
  <dl>
    <dt>Remaining uses</dt>
    <dd>{{remainingUses}}</dd>
  </dl>
</div>