<h1>Your Notifications
  <div class="actions pull-right">
    <a href="#notifications/edit" class="btn btn-primary">Create new</a>
  </div>
</h1>

<div class="search">
  <div class="results"></div>
</div>
