<div class="general-details">

  <h3>General Details</h3>
  <dl class="dl-horizontal">

    <dt>ID</dt>
    <dd>{{id}}</dd>

    <dt>UUID</dt>
    <dd>{{uuid}}</dd>

    <dt>Status</dt>
    <dd>{{status}}</dd>

    <dt>Public</dt>
    <dd>{{public}}</dd>

    <dt>Default</dt>
    {{#if default}}
      <dd>{{default}}</dd>
    {{else}}
      <dd>false</dd>
    {{/if}}

    <dt>Site</dt>
    <dd>{{site}}</dd>

    <dt>Revision</dt>
    <dd>{{revision}}</dd>

    <dt>Last Updated</dt>
    <dd>{{lastModified}}</dd>

    {{#if environment}}
      <dt>Environment</dt>
      <dd>{{environment}}</dd>
    {{/if}}

    {{#if executionType}}
      <dt>Execution Type</dt>
      <dd>{{executionType}}</dd>
    {{/if}}

    {{#if maxSystemJobs}}
      <dt>Max System Jobs</dt>
      <dd>{{maxSystemJobs}}</dd>
    {{/if}}

    {{#if maxSystemJobsPerUser}}
      <dt>Max System Jobs Per User</dt>
      <dd>{{maxSystemJobsPerUser}}</dd>
    {{/if}}

    {{#if scheduler}}
      <dt>Scheduler</dt>
      <dd>{{scheduler}}</dd>
    {{/if}}

    {{#if startupScript}}
      <dt>Startup Script</dt>
      <dd>{{startupScript}}</dd>
    {{/if}}

    {{#if scratchDir}}
      <dt>Scratch Directory</dt>
      <dd>{{scratchDir}}</dd>
    {{/if}}

    {{#if workDir}}
      <dt>Work Directory</dt>
      <dd>{{workDir}}</dd>
    {{/if}}
  </dl>

</div>

{{#if queues}}
<div class="queue-details">

  <h3>Batch Queues</h3>
  {{#queues}}
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{name}}</dd>

      <dt>Max Jobs</dt>
      <dd>{{maxJobs}}</dd>

      <dt>Max Memory Per Node</dt>
      <dd>{{maxMemoryPerNode}}</dd>

      <dt>Max Nodes</dt>
      <dd>{{maxNodes}}</dd>

      <dt>Max Processors Per Node</dt>
      <dd>{{maxProcessorsPerNode}}</dd>

      <dt>Max User Jobs</dt>
      <dd>{{maxUserJobs}}</dd>

      <dt>Default</dt>
      <dd>{{default}}</dd>

      <dt>Custom Directives</dt>
      <dd>{{customDirectives}}</dd>
    </dl>
  {{/queues}}

</div>
{{/if}}

{{#if login}}
<div class="login-details">

  <h3>Login Configuration</h3>
  <dl class="dl-horizontal">

    <dt>Protocol</dt>
    <dd>{{login.protocol}}</dd>

    <dt>Host</dt>
    <dd>{{login.host}}</dd>

    <dt>Port</dt>
    <dd>{{login.port}}</dd>

    <dt>Auth Type</dt>
    <dd>{{login.auth.type}}</dd>

    {{#if login.auth.server}}
    <dt>Credential Server</dt>
    <dd>{{login.auth.server.endpoint}}:{{login.auth.server.port}}</dd>
    {{/if}}

    <dt>Proxy Server</dt>
    {{#if login.proxy}}
    <dd>{{login.proxy.host}}:{{login.proxy.port}}</dd>
    {{else}}
    <dd>null</dd>
    {{/if}}

  </dl>

</div>
{{/if}}

<div class="storage-details">

  <h3>Storage Configuration</h3>
  <dl class="dl-horizontal">

    <dt>Protocol</dt>
    <dd>{{storage.protocol}}</dd>

    <dt>Host</dt>
    <dd>{{storage.host}}</dd>

    <dt>Port</dt>
    <dd>{{storage.port}}</dd>

    {{#if storage.zone}}
    <dt>Zone</dt>
    <dd>{{storage.zone}}</dd>
    {{/if}}

    {{#if storage.resource}}
    <dt>Resource</dt>
    <dd>{{storage.resource}}</dd>
    {{/if}}

    <dt>Root Directory</dt>
    <dd>{{storage.rootDir}}</dd>

    <dt>Home Directory</dt>
    <dd>{{storage.homeDir}}</dd>

    <dt>Permission Mirroring</dt>
    <dd>{{storage.mirror}}</dd>

    <dt>Auth Type</dt>
    <dd>{{storage.auth.type}}</dd>

    {{#if storage.auth.server}}
    <dt>Credential Server</dt>
    <dd>{{storage.auth.server.endpoint}}:{{storage.auth.server.port}}</dd>
    {{/if}}

    <dt>Proxy Server</dt>
    {{#if storage.proxy}}
    <dd>{{storage.proxy.host}}:{{storage.proxy.port}}</dd>
    {{else}}
    <dd>null</dd>
    {{/if}}

  </dl>

</div>
