{{#if link}}
<a href="{{link}}" class="io-action {{button}}"><i class="icon icon-{{action}}"></i> {{label}}</a>
{{else}}
<a href="#" class="io-action {{button}}"><i class="icon icon-{{action}}"></i> {{label}}</a>
{{/if}}