<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd>{{firstName}} {{lastName}}</dd>

  <dt>Username</dt>
  <dd>{{username}}</dd>

  <dt>Email</dt>
  <dd>{{email}}</dd>

{{#if phone}}
  <dt>Phone</dt>
  <dd>{{phone}}</dd>
{{/if}}

{{#if fax}}
  <dt>Fax</dt>
  <dd>{{fax}}</dd>
{{/if}}

{{#if city}}
  <dt>City</dt>
  <dd>{{city}}</dd>
{{/if}}

{{#if state}}
  <dt>State/Province</dt>
  <dd>{{state}}</dd>
{{/if}}

{{#if country}}
  <dt>Country</dt>
  <dd>{{country}}</dd>
{{/if}}

{{#if company}}
  <dt>Company or Institution</dt>
  <dd>{{company}}</dd>
{{/if}}

{{#if department}}
  <dt>Department</dt>
  <dd>{{department}}</dd>
{{/if}}

{{#if position}}
  <dt>Position</dt>
  <dd>{{position}}</dd>
{{/if}}

{{#if researchArea}}
  <dt>Research Area</dt>
  <dd>{{researchArea}}</dd>
{{/if}}

{{#if fundingAgencies}}
  <dt>Funding Agencies</dt>
  <dd>{{fundingAgencies}}</dd>
{{/if}}
 </dl>