{{#ifCond type '==' 'dir'}}
<a href="#files/browse/{{system}}/{{path}}" class="io-name pull-left">
	<i class="icon icon-{{type}}{{previous}}"></i> {{name}}
</a>
{{else}}
<i class="icon icon-{{type}}{{previous}}"></i> {{name}}
{{/ifCond}}
  
</a>
{{#ifCond type '==' 'file'}}
<span class="io-last-modified">size: {{humanreadable length}}</span>&nbsp;&nbsp;
{{/ifCond}}

<div class="io-actions btn-group pull-right">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" data-bypass="true">
    Actions <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a><i class="icon icon-spinner icon-spin"></i> Loading...</a></li>
  </ul>
</div>
<div class="io-last-modified pull-right">
<span class="io-last-modified">{{humantimeago lastModified}}</span>&nbsp;&nbsp;
</div>