<span><i class="icon icon-user"></i> You are logged in as {{username}}.</span>
<a href="#auth/logout"><i class="icon icon-signout"></i> Log out</a><br/><br/>
<a href="https://bitbucket.org/deardooley/agave-gateway-dna" target="_blank">
  <button type="button" class="btn btn-default btn-sm social">
    <i class="icon icon-bitbucket small"></i> Fork
  </button>
</a>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://agaveapi.co" data-via="agaveapi">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
